:root {
  --gold: #FFD700;
  --black: #111111;
   --black-text-bg: #1a1a1a;
  --orange: #FF6600;
  --white: #FFFFFF;
  --gray-light: #f5f5f5;
  --transition: 0.3s;

  /* Extras para diseño */
  --shadow-light: rgba(0, 0, 0, 0.15);
  --shadow-dark: rgba(0, 0, 0, 0.35);
  --border-radius: 12px;
  --padding: 16px;
}